parameters:
    app.default_timezone: 'UTC'
    app.jellyfin.url: 'http://localhost:8096'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/'
