<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('dashboard') }}">
            <img src="/static/images/logo.svg" alt="WatchJellyTogether Logo">
            WatchJellyTogether
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ 'generic.toggle_navigation'|trans }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% for page in ['dashboard'] %}
                        <a class="nav-link{% if app.current_route == page %} active" aria-current="page{% endif %}" href="{{ path(page) }}">{{ ('menu.' ~ page)|trans }}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>

